[MESSAGE CONTROL]
disable=missing-docstring, # too many false positives
	invalid-name, # 'df' anyone?
	no-value-for-parameter, # all 'click' commands
	duplicate-code # also counts similar import statements
