[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pandas = "*"
ipython = "*"
jupyter = "*"
# Vega 2.0 released, but Altair cannot cope with it
# https://github.com/altair-viz/altair/issues/1114
altair = "==2.4.1"
vega = "==1.3"
vega-datasets = "*"
tables = "*"
"psycopg2-binary" = "*"
selenium = "*"
# pd.read_hdf fails with recent numpy, and PyTables has a fix, but no release yet
# https://stackoverflow.com/q/54210073/345057
numpy = "<=1.15.4"
tqdm = "*"
click = "*"
pipenv = "*"
rbo = {editable = true, ref = "master", git = "https://github.com/changyaochen/rbo.git"}
treon = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
nbdime = "*"

[requires]
python_version = "3.6"
